/* COLOR PALETTE
#050406 - Cinder
#EA5384 - Mandy
#643C92 - Purple
#581A40 - Berry

OR

#2A2F33 - Shark
#BBB6A5 - Nomad
#8C9491 - Mantle
#8C8C9C - Manatee
*/

@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

/* GLOBAL STYLES
--------------------*/
html {
  box-sizing: border-box;
  font-family: Winky Sans, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  background-color: #f6f6f6;
  margin: 0;
}

/* link styles */

/* #deloitte-link {
  color: #86bc26;
}

#deloitte-link:hover {
  color: #4c6b16;
  text-decoration: none;
} */

a {
  color: #86bc26;
}

a:hover {
  color: #4c6b16;
  text-decoration: none;
}

.project-btn {
  background-color: #86bc26;
  color: black;
  text-decoration: none;
}

.content-wrapper {
   margin: 0 auto;
   max-width: 900px;
   padding: 30px;
}

/* HOME
--------------------*/
.home {
  background: url(../images/backgrounds/bg-home-office-city.jpg) no-repeat;
  background-size: cover;
}

.home .content-wrapper {
  background-color: rgb(255, 255, 255, 0.9);
}

/* RESUME
--------------------*/
.resume header::before {
  background: url(../images/backgrounds/bg-home-office-city.jpg);
  background-size: cover;
  background-position: center;
  content: "";
  display: block;
  height: 375px;
}

/* Profile 
--------------------*/

/* Projects
--------------------*/
.petpix img {

}

.hoopshub img {
  width: 300px;
}

.project-item {
  display: flow-root;
  margin: 30px 0;
}

.project-item img {
  /* width: 200px; */
  float: left;
  margin-right: 20px;
}

/* Project stack button styles
 -------------------*/
 #swift {
  background-color: #FD7E35;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

#swift-ui {
  background-color: #0070FD;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

#figma {
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

#back4app {
  background-color: #101F3A;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

#javascript {
  background-color: #FCDC00;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

#vite {
  background-color: #857BFE;
  border: none;
  color: #FFD425;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

#react {
  background-color: #57C4DC;
  border: none;
  color: #23272F;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

/* #57C4DC */

/* Work Experience
--------------------*/

/* Education 
--------------------*/

/* FOOTER
--------------------*/
footer {
  background-color: rgb(42, 42, 42);
  color: white;
}

footer li img {
  width: 3rem;
  height: 3rem;
}

.socials {
  list-style-type: none;
  padding: 0;
}

.socials li {
  display: inline-block;

}

.socials img {
  /* width: 2.5rem; */
}
