/* COLOR PALETTE
#050406 - Cinder
#EA5384 - Mandy
#643C92 - Purple
#581A40 - Berry

OR

#2A2F33 - Shark
#BBB6A5 - Nomad
#8C9491 - Mantle
#8C8C9C - Manatee
*/

/* @import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap'); */

/* GLOBAL STYLES
--------------------*/
html {
  box-sizing: border-box;
  font-family: roboto, sans-serif;
  /* Winky Sans, sans-serif; */
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  background-color: #f6f6f6;
  margin: 0;
}

/* link styles */

/* #deloitte-link {
  color: #86bc26;
}

#deloitte-link:hover {
  color: #4c6b16;
  text-decoration: none;
} */

a {
  color: #86bc26;
}

a:hover {
  color: #4c6b16;
  text-decoration: none;
}

.project-btn {
  background-color: #86bc26;
  color: black;
  text-decoration: none;
}

.content-wrapper {
   margin: 0 auto;
   max-width: 900px;
   padding: 30px;
}

/* HOME
--------------------*/
.name-and-image {
  display: flex;
  align-items: center;
}
.name-and-image h1 {
  flex: 1;
}

.name-and-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
  border: #86bc26 solid 3px;
}

.home {
  background: url(../images/backgrounds/bg-home-office-city.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.home .content-wrapper {
  flex: 1 0 auto;
}

.content-bg {
  background: rgb(255 255 255 / 0.9);
  padding: 30px;
}

/* RESUME
--------------------*/
.resume header::before {
  background: url(../images/backgrounds/bg-home-office-city.jpg);
  background-size: cover;
  background-position: center;
  content: "";
  display: block;
  height: 375px;
}

.resume-section {
  margin-bottom: 70px;
}

.resume-section h2 {
  border-bottom: darkgray dashed 2px;
}

.download-link {
  position: fixed;
  top: 5px;
  left: 5px;
}

/* Profile 
--------------------*/

/* Projects
--------------------*/
.projects {
  margin-top: 80px;
}

.hoopshub img {
  width: 300px;
  height: 179px;
}

.project-item {
  display: flow-root;
  margin: 40px 0;
}

.project-item h3 {
border-bottom: #86bc26 solid 2px;
}

.project-item img {
  /* width: 200px; */
  float: left;
  /* margin-right: 20px; */
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-item-image {
  flex: 1;
}

.project-item-description {
  flex: 1;
}

/* Project stack button styles
 -------------------*/
 #swift {
  background-color: #FD7E35;
  border: black solid 2px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: transform .2s;
}
#swift:hover {
  transform: scale(1.1);
}

#swift-ui {
  background-color: #0070FD;
  border: #00D2FF solid 2px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: transform .2s;
}
#swift-ui:hover {
  transform: scale(1.1);
}

/* #FF3737 */

#figma {
  background: linear-gradient(to right, #FF3737, #FF7137, #864FFF, #00B6FF, #22CB71);;
  border: black solid 2px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: transform .2s;
}
#figma:hover {
  transform: scale(1.1);
}

#back4app {
  background-color: #101F3A;
  border: #224265 solid 2px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: transform .2s;
}
#back4app:hover {
  transform: scale(1.1);
}

#html5 {
  background-color: #EE642A;
  border: #9a361d solid 2px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: transform .2s;
}
#html5:hover {
  transform: scale(1.1);
}

#css3 {
  background-color: #2865F0;
  border: #1b36a1 solid 2px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: transform .2s;
}
#css3:hover {
  transform: scale(1.1);
}

#javascript {
  background-color: #FCDC00;
  border: black solid 2px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: transform .2s;
}
#javascript:hover {
  transform: scale(1.1);
}

#vite {
  background-color: #857BFE;
  border: #FFD425 solid 2px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: transform .2s;
}
#vite:hover {
  transform: scale(1.1);
}

#react {
  background-color: #57C4DC;
  border: #23272F solid 2px;
  color: #23272F;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: transform .2s;
}
#react:hover {
  transform: scale(1.1);
}

#supabase {
  background-color: #3DCF8E;
  border: black solid 2px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition: transform .2s;
}
#supabase:hover {
  transform: scale(1.1);
}

/* #57C4DC */

/* Work Experience
--------------------*/

/* Education 
--------------------*/

/* FOOTER
--------------------*/
footer {
  background-color: rgb(42, 42, 42);
  color: white;
}

footer li img {
  width: 3rem;
  height: 3rem;
}

.socials {
  list-style-type: none;
  padding: 0;
}

.socials li {
  display: inline-block;

}

.socials img {
  /* width: 2.5rem; */
}
